<div class="navbar-brand flex-col">
  <a class="navbar-item home-link" href="{{{siteRootPath}}}/index.html">{{site.title}}</a>
  {{> nav-toggle}}
</div>
<div id="topbar-nav" class="navbar-menu"></div>
